@charset "UTF-8";

header {
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);

}

footer > p {
    font-style: italic;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}